body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-color: #fff;
  color: #4a4b4c;
}
img{
  max-width: 100%;
  height: auto;
}

/* OUTLINE STYLES*/
*:focus{
  outline: 2px dashed #7296ec;
  outline-offset: 3px;
}

/* CONTAINER */
.container{
  max-width: 1240px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* SITE-HEADER */
.site-header-top{
  background-color: #f6f6f6;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 10px;
}
.site-header-top-container{
  display: flex;
  align-items: center;
}
.site-header-logo{
  background-color: #f6f6f6;
  display: block;
  margin-right: 35px;
  text-decoration: none;
  padding: 8px 6px;
}
.site-header-logo:hover{
  opacity: 0.8;
}
.site-header-logo:active{
  opacity: 0.6;
}

/* CURRENSY-RATES */
.currensy-rates{
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-right: auto;
}
.currensy-rates-item:not(:last-child){
  margin-right: 25px;
}
.currensy-rates-type{
  color: #2959ce;
}

/* GLOBAL-SEARCH-FORM */
.global-search-form{
  margin-right: 25px;
}
.global-search-form-input{
  font-size: 14px;
  line-height: normal;
  border: 0;
  padding-top: 15px;
  padding-bottom: 13px;
  border-radius: 60px;
  padding-left: 40px;
  padding-right: 20px;
}
.global-search-form-img{
  align-items: center;
}

/* LANG-TOGGLE */
.lang-toggle{
  display: flex;
  padding: 3px;
  border-radius: 39px;
  background-color: #dce6ff;
  font-size: 13px;
  margin-right: 25px;
}
.lang-toggle-link{
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  text-decoration: none;
  line-height: 30px;
  color: #a6a6a6;
}
.lang-toggle-link-active{
  background-color: #fff;
  color: #000;
}
.button{
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-weight: 500px;
  font-size: 16px;
  line-height: normal;
  border-radius: 10px;
  padding: 13px 20px;
  cursor: pointer;
}
.button-primary{
  background-color: #7296ec;
  color: #fff;
}

/* SITENAV */
.sitenav{
  padding-top: 16px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 16px;
  font-size: 18px;
  line-height: normal;
  font-weight: 500;
  margin-bottom: 40px;
}
.sitenav-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sitenav-item{
  margin-top: 4px;
  margin-bottom: 4px;
}
.sitenav-item:not(:last-child){
  margin-right: 35px;
}
.sitenav-link{
  display: block;
  text-decoration: none;
  color: #7f7f7f;
}
.sitenav-link:hover{
  color: #7296ec;
}
.sitenav-link:active{
  opacity: 0.6;
}

/* SITE-HEADER-BANNER */
.site-header-banner-link{
  display: flex;
}